<div class="p-4 bg-black text-white rounded">
 <h2 class="mb-4 border-b-2 border-red-600 pb-2
           bg-gradient-to-r from-red-500 to-yellow-400
           transition-all duration-300 ease-in-out
           text-transparent bg-clip-text cursor-pointer
           font-extrabold text-xl drop-shadow-md">Phim đánh giá cao</h2>

  <div *ngIf="isLoading" class="text-center">Loading...</div>

  <div *ngIf="!isLoading" class="flex flex-col gap-4">
    <div *ngFor="let movie of movies | slice:0:20" class="flex items-center gap-4 bg-zinc-900 rounded shadow p-2 hover:bg-zinc-800 transition cursor-pointer">
      <a [routerLink]="['/phim', movie.slug]" class="flex items-center gap-4 w-full no-underline text-white min-w-0">
        <img [src]="'https://img.ophim.live/uploads/movies/' + movie.thumb_url" alt="{{movie.name}}" class="w-20 h-12 object-cover rounded flex-shrink-0" />
        <div class="flex-1 min-w-0 overflow-hidden">
          <h3 class="text-sm font-semibold truncate">{{ movie.name }}</h3>
          <p class="text-xs text-gray-400 truncate">{{ movie.origin_name }}</p>
        </div>
        <!-- <span class="bg-yellow-400 text-black px-2 py-1 rounded text-xs whitespace-nowrap flex-shrink-0">
          {{ movie.imdb?.vote_average || 'N/A' }} ⭐
        </span> -->
      </a>
    </div>
  </div>
</div>
