<div class="p-4 bg-black text-white ">
    <!-- Tiêu đề -->
    <h2 class="text-2xl font-bold mb-4">🎬 Phim Mới</h2>
    <p-carousel [value]="movies" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
        [responsiveOptions]="responsiveOptions" styleClass="custom-carousel">
        <ng-template let-movie pTemplate="item">
            <div class="p-2 text-white bg-black shadow hover:scale-105 transition ">
                <a [routerLink]="['/phim', movie.slug]" class="block cursor-pointer">
                    
                    <img [src]="'https://img.ophim.live/uploads/movies/' + movie.thumb_url" [alt]="movie.name"
                        class="w-full h-100 object-cover " />
                    <div class="p-2">
                        <h3 class="text-sm font-semibold truncate">{{ movie.name }}</h3>
                        <p class="text-xs text-gray-400 truncate ">{{ movie.origin_name }}</p>
                      <div class="space-x-2">
                          <p class="inline-block bg-gray-300 text-gray-600 text-xs px-2 py-1 rounded">
                            {{ movie.category[0]?.name }}
                        </p>
                        <p class="inline-block bg-gray-300 text-gray-600 text-xs px-2 py-1 rounded">
                            {{ movie.year }}
                        </p>
                      </div>

                    </div>
                </a>
            </div>
        </ng-template>
    </p-carousel>

</div>